@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Cormorant+Garamond:wght@300&display=swap');

/* Boiler Plate */
:root {
  --desktop-resolution-height: 56.25rem;
  --desktop-resolution-width: 90rem;
}

html {
  font-size: 14px;
  color: white;
}

body {
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

/* Background Images */
#home-body {
  background-image: url("/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
}
#destination-body {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  
}
#crew-body {
  background-image: url("/assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  
}
#technology-body {
  background-image: url("/assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  
}

@media (min-width: 376px) {
  #home-body {
    background-image: url("/assets/home/background-home-tablet.jpg");
  }
  #destination-body {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
  }
  #crew-body {
    background-image: url("/assets/crew/background-crew-tablet.jpg");
  }
  #technology-body {
    background-image: url("/assets/technology/background-technology-tablet.jpg");
  }
}

@media (min-width: 769px) {
  #home-body {
    background-image: url("/assets/home/background-home-desktop.jpg");
  }
  #destination-body {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
  }
  #crew-body {
    background-image: url("/assets/crew/background-crew-desktop.jpg");
  }
  #technology-body {
    background-image: url("/assets/technology/background-technology-desktop.jpg");
  }
}

/* Elements */

b {
  margin-right: 0.25rem;
}

a {
  cursor: pointer;
}

h1{
  font-family: 'Castoro Titling', cursive;
  font-weight: 100;
}

h4{
  font-weight: 100;
}

p {
  line-height: 2rem;
  font-family:Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  color: white;
}

/* Containers */

header{
  margin: 1.25rem 2rem 0 2rem;
  /* margin: 1.25rem auto 0 auto; */
}


main {
  margin: 2rem 2rem 0 2rem;
}


@media (min-width: 769px) {
  main {
    margin: 2rem 6rem 0 6rem;
  }
}

/* Navigation and Top Section */

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top__logo-box {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: white;

  margin-top: .75rem;

  position: relative;
    z-index: 1;
}

.top__line-box {
  display: none;
  color: white;
  width: 30%;
  max-width: 30rem;
  margin-left: 4rem;
  z-index: 0;
  position: absolute;

  padding-top: 1.75rem;
}

.top__hamburger-container {
  border: none;
  background-color: transparent;
  padding-right: 0;
}

.top__hamburger-container--icon-close {
  display: none;
  position: relative;
  z-index: 2;
}

.top__nav {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  gap: 1.5rem;
  padding: 6rem 4rem 6rem 1rem;

  background-color: rgba(81, 62, 252, 0.329);

  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 1;
}

@media (min-width: 561px) {
  .top__nav {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.5rem 2rem 1.5rem;

    width: max(28.75rem, 60%);
    max-width: unset;
    height: unset;
    position: unset;
    
  }

  .top__hamburger-container {
    display: none;
  }
}

@media (min-width: 769px) {
  .top__line-box{
    display: block;
  }
  .top__logo-box {
    margin-left: 3rem;
    
  }
}

/* Home */

.home {
  display: grid;
  gap: 2rem;
}

.home > * {
  text-align: center;
}

.home__heading--primary {
  margin: 0;
  font-size: 4.75rem;
}

@media (min-width: 401px) {

  .home__heading--primary {
    font-size: 8rem;
  }
}

.home__blurb {
  max-width: 24rem;
  margin: 0 auto 0 auto;
}

.home__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 100;

  background-color: white;
  color: black;

  border-radius: 50%;

  height: 10rem;
  width: 10rem;

  margin: 2rem auto 2rem auto;

  grid-row: 3/4;
}

@media (min-width: 376px) {
  .home__logo {
    height: 15rem;
    width: 15rem;

    margin: 6rem auto 6rem auto;
  }
}

@media (min-width: 769px) {
  .home {
    justify-content: space-between;
    margin-top: 10rem;
  }

  .home > * {
    text-align: left;
  }

  .home__heading {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .home__blurb {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: unset;
  }

  .home__logo {
    grid-row: 1/6;
    grid-column: 2/3;
    margin: auto 0 auto 0;
  }
}

/* All Categories */

.section-headings {
  text-align: left;
  white-space: nowrap;
}

/* Destination */

.destination {
  display: grid;
}

.destination__img-cont {
  grid-column: 1/2;
  grid-row: 2/3;

  height: auto;
  max-width: 10rem;
  margin: 0 auto 0 auto;
}

.destination__img-cont--img {
  width: 100%;
  height: 100%;
}

.destination__selector {
  grid-row: 3/4;

  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;

  margin: 1rem auto 1rem auto;
}

.destination__selector--btn {
  font-size: 1rem;
  padding-bottom: 1rem;

  border: none;
  background-color: transparent;
}

.destination__selector--btn:nth-child(2) {
  border-bottom: solid;
}

.destination__heading {
  grid-row: 4/5;

  margin: 0;

  font-size: 4.75rem;
  text-align: center;
}

.destination__info {
  grid-row: 5/6;

  text-align: center;
  max-width: 24rem;
  margin: 1rem auto 1rem auto;
}

.destination__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top: solid;
}

.distance > * {
  text-align: center;
}
.distance__heading {
  margin-bottom: 0;
}
.distance__stat {
  margin-bottom: 0;
}

.travel > * {
  text-align: center;
}
.travel__heading {
  margin-bottom: 0;
}
.travel__stat {
  margin-bottom: 0;
}

@media (min-width: 376px) {
  .destination__img-cont {
    max-width: 20rem;
    height: auto;
  }

  .destination__stats {
    flex-direction: row;
    justify-content: space-between;
    width: 24rem;

    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 769px) {
  .destination{
    gap: 1rem;
  }
  .destination__img-cont,
  .destination__selector {
    margin-top: 4rem;
  }

  .destination__img-cont {
    grid-column: 1/2;
    grid-row: 2/5;

    max-width: 30rem;
    height: auto
  }

  .destination__selector {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 24rem;
    margin-right: auto;
  }

  .destination__heading {
    grid-column: 2/3;
    grid-row: 3/4;

    width: 24rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .destination__info {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: left;
  }

  .destination__stats {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .distance > * {
    text-align: left;
  }

  .travel > * {
    text-align: left;
  }
}

/* Technology */
.technology {
  display: grid;
}

.technology__img-cont {
  grid-row: 2/3;

  height: auto;
  max-width: 30rem;
  margin: 0.5rem auto 0.5rem auto;
}

.technology__img-cont--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.technology__img-cont--portrait {
  display: none;
}

.technology__selector {
  grid-row: 3/4;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.technology__selector--btn {
  border: solid;
  border-radius: 50%;
  border-color: black;
  background-color: transparent;

  font-size: 1.75rem;

  width: 4rem;
  height: 4rem;
}

.technology__selector--btn:nth-child(1) {
  color: white;
  background-color: black;
}

.technology__heading > * {
  text-align: center;
}

.technology__heading--secondary {
  margin-bottom: 0.25rem;
}

.technology__heading--primary {
  margin-top: 0.25rem;
}

.technology__info {
  text-align: center;
  max-width: 25rem;
  margin: 1rem auto 1rem auto;
}

@media (min-width: 376px) {
  .technology {
    margin-right: unset;
  }
  .technology__img-cont {
    grid-row: 2/3;

    max-width: unset;

    margin-left: -2rem;
  }

  .technology__selector {
    margin-left: -2rem;
  }

  .technology__heading > * {
    margin-left: -2rem;
  }
}

@media (min-width: 769px) {
  .technology > .section-headings {
    grid-column: 1/3;
  }
  .technology {
    margin-right: 0;
  }
  .technology__img-cont {
    grid-column: 3/4;
    grid-row: 2/8;

    margin-left: auto;
    margin-right: 0;

    max-width: 35rem;
  }

  .technology__img-cont--landscape {
    display: none;
  }

  .technology__img-cont--portrait {
    display: inline;
  }

  .technology__selector {
    grid-column: 1/2;
    grid-row: 3/5;
    width: 5rem;
    margin-left: unset;
  }

  .technology__heading > * {
    text-align: left;
    margin-left: unset;
  }

  .technology__heading {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .technology__info {
    grid-column: 2/3;
    grid-row: 4/5;

    text-align: left;
    margin-left: 0;
  }
}

/* Crew */

.crew {
  display: grid;
}

.crew__img-cont {
  grid-row: 2/3;

  max-height: 13rem;
  width: auto;
  margin: 0 auto 0 auto;
}

.crew__img-cont--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.crew__selector {
  grid-row: 3/4;

  display: flex;
  gap: 1rem;

  margin: 1rem auto 1rem auto;
}

.crew__selector--btn {
  border: none;
  background-color: transparent;

  height: 1rem;
  width: 1rem;
  background-color: #bbb;
  border-radius: 50%;
}

.crew__selector--btn:nth-child(4) {
  background-color: red;
}

.crew__heading,
.crew__info {
  text-align: center;
}

.crew__heading--secondary {
  font-size: 1.25rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.crew__heading--primary {
  font-size: 2.5rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.crew__role {
  margin-bottom: 0;
}

.crew__name {
  margin-top: 0;
}

.crew__info {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

  max-width: 27rem;
}

@media (min-width: 376px) {
  .crew__info {
    grid-row: 4/5;
  }
  .crew__selector {
    grid-row: 5/6;
  }

  .crew__img-cont {
    grid-row: 6/7;
    max-height: 28rem;
  }
}

@media (min-width: 769px) {
  .crew__heading,
  .crew__info {
    grid-column: 1/2;
    text-align: left;
  }

  .crew__heading {
    grid-row: 5/6;
  }
  .crew__info {
    grid-row: 6/7;
    margin: unset;
  }
  .crew__selector {
    grid-row: 8/9;
    margin: unset;
  }

  .crew__img-cont {
    grid-row: 3/10;
    grid-column: 2/3;
    margin-right: 0;
  }
}
